// Grid dimensions
$grid-offset: 16px;
$grid-width: 1230px;
$grid-padding: 0 $grid-offset;

// Responsive dimensions
$responsive-tablet-width: 1024px;
$responsive-mobile-width: 600px;

$text-xl: 3rem;
$text-base: 1rem;
$text-sm: 0.875rem;