.slider {
  position: relative;
  padding: 5.625rem 0;
  &__navigation {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    .swiper {
      &-button {
        &-prev,
        &-next {
          position: static;
          margin: 0;
          width: auto;
          height: auto;
          opacity: 1;
          svg {
            path {
              will-change: fill;
              transition: fill .3s;
            }
          }
          &:after {
            display: none;
          }
        }
        &-disabled {
          svg {
            path {
              fill: $black;
            }
          }
        }
      }
      &-pagination {
        width: auto;
        margin: 0 1.6875rem;
        position: static;
        &-bullet {
          border: 1px solid $black;
          width: 10px;
          height: 10px;
          background-color: transparent;
          opacity: 1;
          will-change: background-color, border-color;
          transition: background-color .3s, border-color .3s;   
          &-active {
            background-color: $orange;
            border-color: $orange
          }
        }
      }
    }
  }
}