doctype html
html(lang='ru')
  head

    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    base(href="/")

    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords' content='index, page')

    link(rel='shortcut icon' href=require('/assets/images/favicons/favicon.ico'))

    block title
      title Test | Страница без названия

  body

    script.
        function autorun() {}
          if (window.addEventListener) window.addEventListener('load', autorun, false)
          else window.onload = autorun
    noscript.
        Hey, you have JavaScript disabled, that's why you can see this message.

    include ../components/header.pug
    
    block content

    include ../components/footer.pug

    block js