footer.footer 
  .wrapper 
    .footer__wrapper
      p.footer__signature Подпись в подвале сайта
      p Связаться и что-то уточнить по заданию: 
        a(target="_blank" href="t.me/Kenny_Nobody") https://t.me/Kenny_Nobody